@mixin before_circle {
    &:before {
        content: '';
        top: -25%;
        left: 0;
        z-index: -1;
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: $main-color;

    }
}