.contacts {
    padding-top: 120px;
    padding-bottom: 90px;
    &__wrapper {
        padding: 0 35px 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
        }
    }
    &__title {
        padding-top: 1px;
        position: relative;
        padding-left: 12px;
        @include before_circle;
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    &__text, &__social {
        margin-top: 20px;
    }
    &__link {
        margin-right: 25px;
        img {
            min-width: 30px;
            min-height: 30px;
        }
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px/ repeat(2, 280px);
        justify-content: space-between;
        row-gap: 28px;
        label {
            top: -9px;
            left: 12px;
            margin-bottom: 0;
            display: block;
            font-size: 12px;
            position: absolute;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
        }
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            padding-left: 20px;
            font-size: 12px;
        }

    }
    &__textarea {
        grid-column: 1/3;
        position: relative;
        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px 20px;
            font-size: 12px;
        }
    }
    &__policy {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
        }
    }
    &__btn {
        border: none;
        font-size: 14px;
        line-height: 21px;
    }
    &__triggers {
        display: grid;
        column-gap: 35px;
        grid-template-columns: repeat(2, auto);
        grid-column: 1/3;
    }
}