.portfolio {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, 280px)/repeat(4, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
        .vertial {
            grid-row: 1/3;
            grid-column: 4/5;
        }
        .horizontal {
            grid-row: 2/3;
            grid-column: 2/4;
        }
    }
    &__item {
        transition: all 0.5s;
        img {
            width: 100%;
        }
        filter: brightness(40%);
        &:hover {
            filter: brightness(100%);
        }
    }
}